@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Oswald:wght@200..700&display=swap");
body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8666666667), #000000), url("../../../dist/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  width: 100%;
}
@media (min-width: 768px) {
  body {
    background-image: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0.8666666667)), url("../../../dist/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8666666667), #000000), url("../../../dist/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  width: 100%;
}
@media (min-width: 768px) {
  body {
    background-image: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0.8666666667)), url("../../../dist/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8666666667), #000000), url("../../../dist/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  width: 100%;
}
@media (min-width: 768px) {
  body {
    background-image: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0.8666666667)), url("../../../dist/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #c80000;
  color: #ffffff;
  border-radius: 0;
  border: 0;
  transition: 0.3s;
}
.btn-primary:hover {
  background: linear-gradient(90deg, #c80000, #8d0000, #c80000);
  transition: 0.3s;
}
.btn-primary:focus {
  background: linear-gradient(90deg, #c80000, #8d0000, #c80000);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  color: #a7a7a7;
}
.btn-secondary:hover {
  font-size: 105%;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.navbar {
  background-color: #000000;
}
.navbar .navbar-brand {
  font-family: "Creepster", sans-serif;
  color: #ffffff;
}
.navbar .navbar-toggler {
  border: 0;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 0;
  transition: 0.5s ease-in-out;
}
.navbar .navbar-toggler:focus {
  background-color: #c80000;
  color: #ffffff;
  border: 0;
  box-shadow: none;
  outline: none;
}
.navbar .navbar-toggler:hover {
  background-color: #c80000;
  transition: 0.5s ease-in-out;
}
.navbar .btn-primary {
  font-size: 1.2rem;
}
.navbar .btn-primary span {
  font-size: 0.9rem;
}
.navbar .offcanvas {
  background: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0.6549019608), #000000), url("../../../dist/bg-offcanvas.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 100%;
}
.navbar .offcanvas .offcanvas-header .offcanvas-title {
  font-size: 1.5rem;
  font-family: "Creepster", sans-serif;
  color: #ffffff;
}
.navbar .offcanvas .offcanvas-body::-webkit-scrollbar {
  display: none;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  color: inherit;
  font-weight: 300;
  font-size: 1.25rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link i {
  color: #c80000;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link:hover {
  color: #c80000;
  width: -moz-max-content;
  width: max-content;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item label {
  font-size: 1.25rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item #language-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #a7a7a7;
  border-radius: none;
  padding: 0.5rem 2rem;
  width: 100%;
  border-radius: 0;
  color: #a7a7a7;
}
@media (min-width: 768px) {
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item #language-select {
    padding: 0.5rem 4rem;
  }
}
@media (min-width: 1200px) {
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item #language-select {
    padding: 0.5rem 6rem;
  }
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item #language-select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #a7a7a7;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item #language-select option {
  background-color: transparent;
  color: #000000;
  border: 1px solid #a7a7a7;
  width: -moz-max-content;
  width: max-content;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .social-media {
  font-size: 1.2rem;
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .social-media .btn-secondary:hover {
  font-size: 90%;
}
@media (min-width: 768px) {
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .social-media .btn-secondary {
    width: 100%;
  }
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .social-media span {
  display: none;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .social-media span {
    display: flex;
  }
}
.navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .motto {
  font-family: "Creepster", sans-serif;
  font-size: 3rem;
  width: 75%;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8666666667), #000000), url("../../../dist/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  width: 100%;
}
@media (min-width: 768px) {
  body {
    background-image: linear-gradient(90deg, #000000, rgba(0, 0, 0, 0.8666666667)), url("../../../dist/bg.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #c80000;
  color: #ffffff;
  border-radius: 0;
  border: 0;
  transition: 0.3s;
}
.btn-primary:hover {
  background: linear-gradient(90deg, #c80000, #8d0000, #c80000);
  transition: 0.3s;
}
.btn-primary:focus {
  background: linear-gradient(90deg, #c80000, #8d0000, #c80000);
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #a7a7a7;
  border-radius: 0;
  color: #a7a7a7;
}
.btn-secondary:hover {
  font-size: 105%;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.hero {
  color: #ffffff;
}
.hero .hero-title {
  font-size: 3rem;
  color: inherit;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 425px) {
  .hero .hero-title {
    font-size: 3.5rem;
  }
}
@media (min-width: 576px) {
  .hero .hero-title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .hero .hero-title {
    width: 90%;
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .hero .hero-title {
    width: 75%;
    font-size: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .hero .hero-title {
    font-size: 5rem;
  }
}
.hero .hero-title span {
  color: #c80000;
}
.hero .hero-text {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75em;
}
@media (min-width: 425px) {
  .hero .hero-text {
    font-size: 1.1rem;
  }
}
@media (min-width: 576px) {
  .hero .hero-text {
    font-size: 1rem;
    width: 75%;
    margin: 0.75rem auto;
  }
}
@media (min-width: 768px) {
  .hero .hero-text {
    margin: 0.75rem 0;
    width: 65%;
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .hero .hero-text {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .hero .hero-text {
    font-size: 1.4rem;
    width: 40%;
  }
}
@media (min-width: 425px) {
  .hero .btn {
    width: 75%;
  }
}
@media (min-width: 576px) {
  .hero .btn {
    margin: 0.75rem auto;
  }
}
@media (min-width: 768px) {
  .hero .btn {
    margin: 0.75rem 0;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .hero .btn {
    width: 25%;
  }
}

.medicine {
  background-color: #000000;
}
.medicine .medicine-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Creepster", sans-serif;
  transition: 0.3s ease-in-out;
}
@media (min-width: 768px) {
  .medicine .medicine-link {
    font-size: 2rem;
  }
}
.medicine .medicine-link:hover {
  color: #c80000;
  transition: 0.3s ease-in-out;
}

.carousel {
  position: relative;
}
.carousel .carousel-indicators button.active {
  background-color: #c80000;
}
.carousel .carousel-inner .carousel-item {
  position: relative;
}
.carousel .carousel-inner .carousel-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
@media (min-width: 576px) {
  .carousel .carousel-inner .carousel-item img {
    height: 350px;
    -o-object-position: center;
       object-position: center;
  }
}
@media (min-width: 768px) {
  .carousel .carousel-inner .carousel-item img {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}
@media (min-width: 1200px) {
  .carousel .carousel-inner .carousel-item img {
    height: 400px;
  }
}
.carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  pointer-events: none;
}

hr.news-line {
  border: 2px solid #c80000;
  width: 15%;
}
@media (min-width: 576px) {
  hr.news-line {
    width: 12.5%;
  }
}
@media (min-width: 768px) {
  hr.news-line {
    width: 10%;
  }
}
@media (min-width: 992px) {
  hr.news-line {
    width: 7.5%;
  }
}
@media (min-width: 1200px) {
  hr.news-line {
    width: 5%;
  }
}

.heading-title {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
}

.news .card {
  background-color: transparent;
  transition: 0.4s ease-in-out;
  border: 0;
}
.news .card:hover {
  transform: scale(1.025);
  transition: 0.4s ease-in-out;
}
.news .card img {
  border: 1px solid #a7a7a7;
  border-radius: 0;
  padding: 0.25rem;
}
.news .card .card-body {
  padding: 0.75rem 0;
}
.news .card .card-body .card-title {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}
@media (min-width: 576px) {
  .news .card .card-body .card-title {
    font-size: 1.3rem;
  }
}
.news .card .card-body .card-text {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 576px) {
  .news .card .card-body .card-text {
    font-size: 0.9rem;
  }
}
.news .card .card-body .card-date {
  font-size: 0.9rem;
  color: #c80000;
  font-weight: 300;
}
@media (min-width: 576px) {
  .news .card .card-body .card-date {
    font-size: 0.8rem;
  }
}

.introduction .introduction-content h2 {
  color: #a7a7a7;
  font-size: 1.3rem;
  font-family: "Creepster", sans-serif;
}
@media (min-width: 992px) {
  .introduction .introduction-content h2 {
    font-size: 1.7rem;
  }
}
.introduction .introduction-content p {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75em;
}
@media (min-width: 992px) {
  .introduction .introduction-content p {
    width: 50%;
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=main.css.map */